<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form action="/books" method="POST">
        <label>Title: <input type="text" name="title" required></label><br>
        <label>Author: <input type="text" name="author" required></label><br>
        <label>Price: <input type="number" name="price" required></label><br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
